<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue</title>
    <script src="../vue.js"></script>
</head>
<body>


<div id="head">
    <input type="text" v-model="msg">
    <h3 v-if="show" v-text="msg"></h3>
    <h3 v-else>you see see you</h3>
    <h2 v-show="ly">you seesee you</h2>
    <p v-show="ok">do you love me?</p>
</div>


<script>


    var vm = new Vue({              // 建立vue对象
        el:'#head',        // 这个标签之内的东西，使用vue才有效。
        data:{
            msg:"where are you",
            show:true,
            ly:true,
            ok:true
        },

    });

    window.setInterval(function () {
        vm.ok = !vm.ok
    },1000)
</script>


</body>
</html>





{#        methods:{#}
{#            show:function () {#}
{#                alert(this.msg)#}
{#            }#}
{#        }#}


